
float.py

table.py

.DS_Store

reference/hardware/v0.2/~$schematic v0.2_bom.xlsx

reference/hardware/v0.4/gerbers/Archive.zip

.pioenvs
.pio
.piolibdeps
.clang_complete
.gcc-flags.json
.project
.vscode
.build
.kicad_pcb-bak
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/.browse.c_cpp.db*
speeduino/board_samd21*
reference/doxygen
speeduino.ino.cpp
test/output_export.cpp
misra/.results
~$*
/speeduino/build/STMicroelectronics.stm32.GenF4/speeduino.ino.bin
/speeduino/build/STMicroelectronics.stm32.GenF4/speeduino.ino.elf
/speeduino/build/STMicroelectronics.stm32.GenF4/speeduino.ino.hex
/speeduino/build/STMicroelectronics.stm32.GenF4/speeduino.ino.map
/speeduino/build/STMicroelectronics.stm32.Disco/speeduino.ino.bin
/speeduino/build/STMicroelectronics.stm32.Disco/speeduino.ino.elf
/speeduino/build/STMicroelectronics.stm32.Disco/speeduino.ino.hex
/speeduino/build/STMicroelectronics.stm32.Disco/speeduino.ino.map
